 <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fas fa-store me-2"></i>enjoy shoping
            </a>
            <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>

                      <!-- <li class="nav-item">
                        <a class="nav-link" href="/Product/AddProduct">AddProduct</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Category" >Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                        <nav class="navbar navbar-light bg-light">

    <div class="d-flex" >
      <input class="form-control me-2"  id="searchBar" for="btnSearchBar" type="search" name="searchBar" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success"  id="btnSearchBar" type="submit">Search</button>
    </div>


                    <a href="/UserInfo" class="btn btn-outline-primary me-2">
                        <i class="fas fa-user"></i>
                    </a>
                    <a href="/Cart" class="btn btn-outline-primary position-relative">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
